:root {
    --purple: rgb(74, 52, 109);
    --lightPurple: rgb(191, 173, 222);
}

.screens {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

#main_screen {
    text-align: center;
}

.btn {
    background-color: var(--purple);
    color:white;
    border-radius: 7px;
    margin-top:5px
}

#view_scores:hover {
    cursor:grab;
}

header {
    display:flex;
    justify-content: space-between;
    font-weight:bolder;
    color:var(--purple);
}

ul {
    list-style-type: none;
    padding-right: 3%;
    padding-left: 3%;
}

li {
    padding: 3px 15px 3px 15px;
}

li:nth-child(odd) {
    background-color: var(--lightPurple);
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
    .screens {
        margin-left:3%;
        margin-right:3%;
    }
}