:root {
    --purple: rgb(74, 52, 109);
    --lightPurple: rgb(191, 173, 222);
    --gray:rgb(132, 129, 129);
}

.screens {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
}

#main_screen {
    text-align: center;
}

.btn {
    background-color: var(--purple);
    color:white;
    border-radius: 7px;
    margin-top:5px
}

#right_or_wrong {
    display: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15px;
    color: var(--gray);
    border-top: 1px solid var(--gray);
    font-style: italic;
    font-size:x-large;
}

#view_scores:hover {
    cursor:grab;
}

header {
    display:flex;
    justify-content: space-between;
    font-weight:bolder;
    color:var(--purple);
}

ul {
    list-style-type: none;
    padding-right: 3%;
    padding-left: 3%;
}

li {
    padding: 3px 15px 3px 12px;
}

/* Style every other list item this way */
li:nth-child(odd) {
    background-color: var(--lightPurple);
    border-radius: 3px;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 27px;
    }

    p {
        font-size: 18px;
    }
    
    button {
        padding:10px;
        font-size: 18px;
    }

    .screens {
        margin-left:10%;
        margin-right:10%;
    }

    #right_or_wrong {
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 768px) {
    .screens {
        margin-left:3%;
        margin-right:3%;
    }

    #scores_screen {
        margin-top:0px;
    }

    #right_or_wrong {
        margin-left: 3%;
        margin-right: 3%;
    }
}